[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "==1.4.14"
betfairlightweight = "*"
flumine = "*"
keyring = "*"
numpy = "*"
plotly = "*"
pandas = "*"
psycopg2 = "*"
jupyterlab = "*"
dash = "*"
natsort = "*"
sklearn = "*"
jsonpickle = "*"
beautifulsoup4 = "*"
pyyaml = "*"
pytimeparse = "*"
flask-caching = "*"
dash-bootstrap-components = "*"
dateparser = "*"
sqlalchemy-filters = "*"
dash-extensions = "*"
boussole = "*"
bokeh = "*"
dash-cytoscape = "*"
pyside2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
