html, body {
    /* set margins of containing html and body so dash div can fill full screen */
    margin: 0;
    padding: 0;
}

/* root container of content */
#browser-container {
    height: 100vh;
    position: relative;
    overflow-x: hidden; /* stop right sidebar from scrolling page */
}

/* navigation bar */
#nav-bar {
//     min-width: 11rem;
    background-color: #feeffe;
}

/* set dash table max height (requires parent element with set height) so scroll works */
.dash-table-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* absolute positioned element holding toast notifications in bottom left corner */
#toast-holder {
    bottom: 1rem;
    left: 1rem;
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
}

.y-scroll {
    overflow-y: auto;
    overflow-x: hidden;
}

/* collapsible right hand bar overlay screen that transitions onto page when margin-right set to 0 */
.right-side-bar{
    margin-right: -20rem;
    width: 20rem;
    transition: margin-right 0.4s ease-in-out 0.1s;
    height: 100%;
    background: #feeffe;
}

/* class used to bring right sidebar into view */
.right-not-collapsed {
    margin-right: 0 !important;
}

/* decrease opacity for disabled buttons so obvious cannot click them */
.disabled {
    opacity: 0.2 !important;
}

div.right-corner-box {
    position: absolute;
    transform: translate(50%, -50%);
    right: 0;
    top: 0;
}

/* unselected nav links not fully visible */
.nav-link {
    opacity: 0.8;

    /* active nav link is fully visible and bold text */
    &.active {
        opacity: 1 !important;
        text-shadow: -0.06ex 0 currentColor, 0.06ex 0 currentColor;
    }
}

